<form [formGroup]="addForm" (ngSubmit)="addSubmit()">
  <input type="text" formControlName="name_part" placeholder="part">
  <input type="text" formControlName="description" placeholder="description">
  <input type="text" formControlName="stock" placeholder="จำนวน">
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<table class="table table-striped" class="cell-border">

  <!-- datatable [dtOptions]="dtOptions" -->
  <thead>
    <tr style="background-color:#c6d0db;">
      <th style="text-align:center">No<br>item</th>
      <th style="text-align:center" rowspan="2">Part</th>
      <th style="text-align:center" rowspan="2">Description</th>
      <th style="text-align:center">Stock</th>
      <th style="text-align:center">Input</th>
      <th style="text-align:center">Output</th>
      <th style="text-align:center">exc</th>
      <th style="text-align:center">adj</th>
      <th style="text-align:center">balance</th>
      <th style="text-align:center" rowspan="2">Remark</th>
    </tr>
    <tr style="background-color:#c6d0db">
      <th style="text-align:center">item</th>
      <th style="text-align:center">Date</th>
      <th style="text-align:center">Date</th>
      <th style="text-align:center">Date</th>
      <th style="text-align:center">Date</th>
      <th style="text-align:center">Date</th>
      <th style="text-align:center">Date</th>

    </tr>
  </thead>
  <tbody *ngIf="HEROES?.length != 0">
    <tr *ngFor="let stock of HEROES">
      <td style="text-align:center">{{ stock.id}}</td>
      <td style="text-align:center">{{ stock.name}}</td>
      <td style="text-align:center">{{ stock.name }}</td>
      <td style="text-align:center">{{ stock.name }}</td>
      <td style="text-align:center">{{ stock.name }}</td>
      <td style="text-align:center">{{ stock.name }}</td>
      <td style="text-align:center">{{ stock.name }}</td>
      <td style="text-align:center">{{ stock.name }}</td>
      <td style="text-align:center">
    <input >
      </td>
      <td>
        <button type="button" (click)="onAdd()" class="btn btn-primary">
          Add
        </button>
      </td>

    </tr>
  </tbody>
  <tbody *ngIf="HEROES?.length == 0">
    <tr>
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
  </tbody>


</table>